.breadCrumbs {
    &__container {
        width: 70%;
        margin: 20px auto 0 auto;
    }
}

.MuiBreadcrumbs-separator {
    font-size: 30px;
    margin-top: -19px;
}

.MuiBreadcrumbs-ol {
    font-size: 14px;
    color: #848484;
}
