.detail {
    &__container {
        width: 70%;
        margin: 0 auto 0 auto;
        border-radius: 4px;
        background: #fff;
    }
    &__row {
        display: flex;
        flex-direction: row;
        &--containerImg {
            width: 70%;
            height: 600px;
        }
        &--containerText {
            width: 26%;
            padding-top: 23px;
        }
        &--p {
            width: 193px;
            color: black;
            font-weight: 600;
            margin-top: 11px;
        }
        &--price {
            font-size: 36px;
            color: black;
            font-weight: 600;
            margin-bottom: 30px;
        }
        &--btn {
            width: 100%;
            padding: 8px 0;
            border-radius: 4px;
            background: #3483fa;
            color: #fff;
            border: none;
        }
        &--img {
            display: flex;
            width: 80%;
            height: 88%;
            margin: 0 auto 0 auto;
        }
    }
    &__description {
        width: 70%;
        word-break: break-word;
        padding: 0 0 6px 40px;
        &--title{
            font-size: 23px;
            color: black;
        }
    }
}
